.skip-block {
    height: 33rem;
    background-color: $secondry-color;
    width: 25%;
    position: absolute;
    top: 14rem;
    left:101rem;
    border-radius: 1.2rem;
}

.skip-question {
    display: block;
    margin-bottom: 0.5rem;
    position: relative;
    top: 1rem;
    font-family: cursive;
    font-size: 1.6rem;
    
}